.add-content-main {
    background: #392e5c;
}

.add-content-title {
    text-align: center;
    font-size: 36px;
    line-height: 38px;
    color: #dad8de;
    padding: 25px 0 0;
    margin: 0 0 50px;
}

.add-content-form {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.add-content-form ul {
    line-height: 40px;
}

.form-content {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-content-input {
    color: #dad8de;
    background: #392e5c;
    font-size: .875rem;
    font-weight: 700;
    padding: 9px 10px 7px 0;
    display: block;
    max-width: 485px;
    width: 100%;
    border-radius: 0;
    border: 1px solid #d8d8d8;
}

.form-content textarea {
    background: #392e5c;
    border: 1px solid #d8d8d8;
    color: #ffffff;
}

.filter-input-add-content + label::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -37px;
    width: 25px;
    height: 25px;
    background: url('../img/svg/radio-off.svg') no-repeat 0 0;
}

.filter-input-add-content:checked + label::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -37px;
    width: 25px;
    height: 25px;
    background: url('../img/svg/radio-on.svg') no-repeat 0 0;
}

.filter-input-add-content + label:hover::before,
.filter-input-add-content:checked + label:hover::before {
    opacity: 0.6;
}

.filter-input-add-content + label:active::before,
.filter-input-add-content:checked + label:active::before {
    opacity: 1;
}

.add-content-name,
.add-content-text,
.add-content-tag {
    padding: 0;
    font-family: 'PT Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #ffffff;
    outline: none;
    margin: 0 0 10px;
}

.add-content-level {
    margin-left: 40px;
}

.selected-level,
.selected-language {
    color: #ffffff;
    margin-bottom: 10px;
}

.form-content-fieldset {
    margin-bottom: 20px;
}

.input-load {
    align-self: center;
    color: #dad8de;
}

.add-content-button {
    max-width: 110px;
    width: 100%;
    padding: 13px;
    align-self: center;
}

.inputfile,
.inputimg {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label,
.inputimg + label {
    font-size: 14px;
    font-weight: 700;
    color: white;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #7f00ac;
    background-color: #fff;
    padding: 0;
}

.inputfile:focus + label,
.inputfile + label:hover,
.inputimg:focus + label,
.inputimg + label:hover {
    border-color: #5d38db;
    outline: 1px dotted #7f00ac;
}

.inputfile:focus + label strong,
.inputfile + label:hover strong,
.inputimg:focus + label strong,
.inputimg + label:hover strong {
    background-color: #5d38db;
}

.inputfile + label *,
.inputimg + label * {
    pointer-events: none;
}

.inputfile + label span,
.inputimg + label span {
    width: 200px;
    min-height: 20px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    padding: 10px 13px;
    color: #201c2b;
}

.inputfile + label strong,
.inputimg + label strong {
    height: 100%;
    color: #fff;
    background-color: #7f00ac;
    display: inline-block;
    padding: 10px 13px;
}

.add-content-img {
    margin-left: 55px;
}