.main-content {
    background: linear-gradient(to right, #562D84 0%, #562D84 30%, #201c2b 30%, #201c2b 100%);
}

.filter-catalog {
    display: flex;
}

.filters {
    /*width: 328px;*/
    width: 28%;
    margin: 0;
    padding: 0;
    background: #562D84;
}

.filter-form {
    /*width: 200px;*/
    width: 75%;
    margin: 0 0 0 60px;
    padding-top: 30px;
}

.filter-form fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.type,
.language,
.level {
    margin: 0;
    padding: 0;
    font-family: 'PT Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #ffffff;
}

.filter-form ul {
    line-height: 40px;
    color: #ffffff;
}

.available-type,
.available-language {
    padding: 0 0 33px;
    border-bottom: 2px solid #ffffff;
}

.available-level {
    padding: 0;
}

.option-type,
.option-language,
.option-level {
    font-size: 14px;
    padding-left: 35px;
}

.filter-form-button {
    margin-left: 12%;
    padding: 13px 16px;
}


.option-type label,
.option-language label,
.option-level label {
    position: relative;
    display: block;
    cursor: pointer;
}

.filter-input-type + label::before,
.filter-input-checkbox + label::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -37px;
    width: 23px;
    height: 23px;
    background: url('../img/svg/checkbox-off.svg') no-repeat 0 0;
}

.filter-input-type:checked + label::after,
.filter-input-checkbox:checked + label::after {
    content: '';
    position: absolute;
    top: 10px;
    left: -35px;
    width: 25px;
    height: 23px;
    background: url('../img/svg/checkbox-on.svg') no-repeat 0 0;
}

.filter-input-radio + label::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -37px;
    width: 25px;
    height: 25px;
    background: url('../img/svg/radio-off.svg') no-repeat 0 0;
}

.filter-input-radio:checked + label::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -37px;
    width: 25px;
    height: 25px;
    background: url('../img/svg/radio-on.svg') no-repeat 0 0;
}

.filter-input-type + label:hover::before,
.filter-input-type:checked + label:hover::before,
.filter-input-checkbox + label:hover::before,
.filter-input-checkbox:checked + label:hover::after,
.filter-input-radio + label:hover::before,
.filter-input-radio:checked + label:hover::before {
    opacity: 0.6;
}

.filter-input-type + label:active::before,
.filter-input-type:checked + label:active::before,
.filter-input-checkbox + label:active::before,
.filter-input-checkbox:checked + label:active::after,
.filter-input-radio + label:active::before,
.filter-input-radio:checked + label:active::before {
    opacity: 1;
}

.items-list {
    padding: 0;
    margin: 69px 0 -11px 75px;
    display: flex;
    flex-wrap: wrap;
    width: 760px;
    /*font-family: 'PT Sans', Arial, sans-serif;*/
    /*font-family: 'PT Gilroy', Arial, sans-serif;*/
}

.item-title {
    font-family: 'PT Gilroy', Arial, sans-serif;
    color: #dad8de;
    text-align: center;
}

.stock-keeping-unit__inner {
    box-sizing: border-box;
    background: #392e5c;
    width: 270px;


}

.item-description {
    padding-top: 0;
    padding-right: 18px;
    padding-left: 18px;
    padding-bottom: 18px;
}

.stock-keeping-unit p {
    font-family: 'PT Sans', Arial, sans-serif;
}

.pagination {
    background-color: #392e5c;
    padding: 18px 0 20px;
    margin: 0 0 79px 75px;
    width: 760px;
    display: flex;
    justify-content: space-between;
}

.pagination a {
    font-family: 'PT Gilroy', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.pagination-number-page {
    /*color: #201c2b;*/
    color: #bababa;
}

.pagination-page-prev {
    padding: 20px 33px 23px;
    width: 125px;
    margin-left: 0;
    margin-right: 180px;
    color: #ffffff;
}

.pagination-page-next {
    padding: 20px 33px 23px;
    width: 125px;
    margin-right: 0;
    margin-left: 171px;
    color: #ffffff;
}

.selected {
    color: #ffffff;
}

.pagination-number-page:hover,
.pagination-number-page:focus {
    color: #bababa;
}

.pagination-number-page:active {
    color: #ffffff;
}

.pagination-page-next:hover,
.pagination-page-prev:hover,
.pagination-page-next:focus,
.pagination-page-prev:focus {
    background-color: #562D84;
}

.pagination-page-prev:active,
.pagination-page-next:active {
    color: #acacac;
    background-color: #562D84;
}