.footer {
    background: #201c2b;;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;
    position: relative;
}

.logo-footer {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 25px;
}

.social {
    position: absolute;
    left: 50%;
}

.social-list {
    margin: 0;
    padding: 0;
    display: flex;
}

.social-item:not(last-child) {
    margin-right: 20px;
}

.fa-facebook,
.fa-twitter-square,
.fa-telegram {
    font-size: 25px;
}

.footer-promo {
    margin: 20px 0 0;
    font-size: 18px;
    line-height: 1.5;
    max-width: 28%;
    text-align: right;
}

.footer-promo span {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
}

.fa-smile-wink {
    font-size: 25px;
}