.modal-error {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 50px auto;
    border: 1px solid #ffffff;
    background: #392e5c;
    position: relative;
}

.modal-error-text {
    font-family: 'PT Gilroy', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

.fa-frown-open {
    font-size: 50px;
    text-align: center;
    display: block;
    color: #ffffff;
}

.modal-error-button {
    width: 20%;
    align-self: flex-end;
    margin-bottom: 10px;
    margin-right: 10px;
}