.show-content {
    background: #392e5c;
    padding-top: 25px;
    color: #ffffff;
}

.video,
.audio,
.book {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    box-shadow: 0 3px 21px hsla(0,0%,46%,.2);
    padding: 30px;
}

.show-content-about {
    max-width: 500px;
    padding-left: 30px;
    padding-right: 20px;
}

.show-content-img {
    max-width: 100%;
}

.show-content-title {
    font-family: 'PT Gilroy', Arial, sans-serif;
}

.show-content-description {
    font-family: 'PT Sans', Arial, sans-serif;
}

.show-content-icon {
    display: inline-block;
}

.show-content-feature {
    display: flex;
    flex-direction: column;
}

.show-content-description {
    font-family: 'PT Gilroy', Arial, sans-serif;
}

.book {
    position: relative;
}

.arrow {
    font-size: 25px;
}

#prev {
    position: absolute;
    top: 70%;
    left: 0;
    cursor: pointer;
}

#next {
    position: absolute;
    top: 70%;
    right: 0;
    cursor: pointer;
}

#toc {
    width: 50%;
    background: #46197A;
    border-color: #201c2b;
}

#toc option {
    color: #46197A;
}

.audio {
    padding-bottom: 20px;
}

audio {
    width: 70%;
    outline: none;
}

.video {
    padding-bottom: 20px;
}

video {
    height: 100%;
    width: 100%;
    align-self: center;
}

.rating {
    display: flex;
}

.rating-item {
    width: 25px;
    height: 25px;
    background-image: url("../img/svg/star.svg");
    cursor: pointer;
    position: relative;
}

.rating-item.active{
    background-image: url("../img/svg/star-active.svg");
}