.show-content {
    background: #392e5c;
    padding-top: 25px;
    color: #ffffff;
    /*width: 100%;*/
}

.video,
.audio,
.book {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    /*justify-content: space-between;*/
    justify-content: space-around;
    margin-bottom: 20px;
    box-shadow: 0 3px 21px hsla(0,0%,46%,.2);
    padding: 30px;
}

.show-content-about {
    /*width: 70%;*/
    padding-left: 30px;
    padding-right: 20px;
    max-width: 100%;
}

.show-content-img {
    max-width: 100%;
}

.show-content-title {
    font-family: 'PT Gilroy', Arial, sans-serif;
}

.show-content-description {
    font-family: 'PT Sans', Arial, sans-serif;
}

.show-content-icon {
    display: inline-block;
}

.show-content-feature {
    display: flex;
    /*justify-content: space-around;*/
    flex-direction: column;
}

.show-content-description {
    font-family: 'PT Gilroy', Arial, sans-serif;
}

.book {
    position: relative;
}

.arrow {
    font-size: 25px;
}

#prev {
    position: absolute;
    top: 70%;
    cursor: pointer;
}

#next {
    position: absolute;
    top: 70%;
    right: 10px;
    cursor: pointer;
}

#toc {
    width: 50%;
    background: #46197A;
    border-color: #201c2b;
}

#toc option {
    color: #46197A;
}

.audio {
    padding-bottom: 20px;
}

audio {
    width: 70%;
    outline: none;
}

.video {
    padding-bottom: 20px;
}

video {
    height: 100%;
    align-self: center;
}