.slider {
    background: #392e5c;
}

.slider-list {
    padding: 0;
    margin: 0 0 30px;
}

.slide {
    width: 80%;
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
    justify-content: space-between;
    padding-top: 15px;

}

.about-product {
    width: 500px;
}

.slide-title {
    font-family: 'PT Gilroy', Arial, sans-serif;
}

.feature {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.rating {
    display: flex;
}

.rating-item {
    width: 25px;
    height: 25px;
    background-image: url("../img/svg/star.svg");
    cursor: pointer;
    position: relative;
}

.rating-item.active{
    background-image: url("../img/svg/star-active.svg");
}