.content-title {
    width: 100%;
    overflow: hidden;
}

.filter-title-sort {
    display: flex;
}

.filter-title {
    font-family: 'PT Gilroy', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: #46197A;
    width: 30%;
    max-width: 340px;
    text-align: center;
}

.sort-content-by {
    display: flex;
    align-items: center;
    background-color: #562D84;
    width: 70%;
    flex-grow: 1;
}

.sort-content-by h3 {
    font-family: 'PT Gilroy', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 23px 54px 23px 78px;
    margin: 0;
}

.sort {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.sort-by {
    margin-right: 30px;
}

.sort-by a {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}

.sort .selected-sort a {
    color: #201c2b;
}

.sort-function {
    margin: 0;
    display: flex;
    min-width: 43px;
    justify-content: space-between;
    padding: 0 50px 0 16px;
}

.sort-function .selected-mode {
    opacity: 0.5;
}