@import "fonts.css";
@import "normalize.css";
@import "header.css";
@import "slider.css";
@import "popular.css";
@import "sort.css";
@import "filter-catalog.css";
@import "footer.css";
@import "sign-up.css";
@import "sign-in.css";


a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: none;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    margin: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.container {
    max-width: 1440px;
    /*width: 100%;*/
    padding-right: 40px;
    padding-left: 40px;
    margin: 0 auto;
}

.theme_dark {
    color: #dad8de;
    background: #201c2b;
}

.button-decoration {
    border-radius: 2px;
    background: #7f00ac;
    font-weight: 700;
    color: #fff;
    text-align: center;
    border: none;
    line-height: 1;
    font-size: 14px;
    min-width: 80px;
    display: inline-block;
    text-decoration: none;

}

.button-decoration:hover {
    color: #dad8de;
    background: #5d38db;
}

