@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/opensans.woff2') format('woff2');
    url('../fonts/opensans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.toggle {
    font-family: 'PT Gilroy', Arial, sans-serif;
}

.toggle-list {
    display: flex;
    flex-direction: column;
}

.toggle-item {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 15px;
}

.toggle-item input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border-radius: 33px;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
}

.slider:before {
    position: absolute;
    content: "";
    height: 31px;
    width: 31px;
    left: -2px;
    top: -1px;
    bottom: 4px;
    border: 1px solid #adadadad;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #53d76a;
}

input:focus + .slider {
    box-shadow: 0 0 1px #53d76a;
}

input:checked + .slider:before {
    transform: translateX(29px);
}
