.header {
    min-height: 60px;
    background: #000000;
}

.navigation-container {
    max-width: 1440px;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 20px;
}

.navigation {
    position: relative;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
    margin-top: 30px;
}

.navigation-item:hover {
    background: #ff1b25;
}

.navigation-item a {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    padding: 8px 15px;
    transition: all .3s ease;
}

.open-services {
    position: relative;
}

.services-menu {
    display: none;
    position: absolute;
    top: 39px;
    left: 0;
    flex-direction: column;
    margin: 0;
    padding: 0 10px;
    background: #ff1b25;
    z-index: 1;
}

.service a {
    padding: 10px;
}

.service a:hover {
    color: #000000;
}

.service:not(:last-child) {
    border-bottom: 1px solid #ffffff;
}


.navigation-list li:hover .services-menu {
    display: flex;
}

.open-services:active, .open-services:hover {
    background: #ff1b25;
}

