.slider-container {
    max-width: 1440px;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0 auto;
    box-sizing: border-box;
}

/*.visually-hidden {*/
/*position: absolute;*/
/*width: 1px;*/
/*height: 1px;*/
/*clip: rect(0, 0, 0, 0);*/
/*}*/

.slider {
    position: relative;

    background-color: #212F3D;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;

    width: 160px;
    height: 18px;

    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-controls label {
    position: relative;

    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;

    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;

    width: 18px;
    height: 18px;

    background: #ffffff;

    border-radius: 50%;
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-item {
    display: none;
    padding: 120px 0 130px 0;
    flex-direction: row;
    justify-content: space-between;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: flex;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: flex;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: flex;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-img {
    /*margin-right: 20px;*/
    margin: 0 auto;
}

.slider-item-container {
    margin: 0 auto;
}

.slider-title {
    display: block;
    margin: 0 auto 27px;
    color: #ffffff;
    font-size: 35px;
    line-height: 35px;
    font-weight: 400;
    text-align: center;
}

.slider-text {
    display: block;
    max-width: 430px;
    margin: 0 0 38px;
    color: #ffffff;
    font-size: 20px;
}

.button {
    display: block;
    width: 220px;
    padding: 13px 0;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

@media (min-width: 960px) {
    .slider-img img {
        width: 600px;
        height: 410px;
    }
}